version: "3"

services:
  front:
    build: ./front
    ports:
      - "3000:3000"
    volumes:
      - ./front:/front
    working_dir: /front/chat
    environment:
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true
    networks:
      - app-network
    command: /bin/sh -c "npm install"
  api:
    build: ./api
    ports:
      - "3001:3000"
    volumes:
      - ./api:/api
    working_dir: /api/src
    command: /bin/sh -c "bundle install && rm -f tmp/pids/server.pid  && bundle exec rails s -p 3000 -b '0.0.0.0' && rails db:migrate"
    stdin_open: true
    tty: true
    networks:
      - app-network
    depends_on:
      - db
  db:
    build: ./db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: app_db
    volumes:
      - app-data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  app-data:
networks:
  app-network:
    driver: bridge
